doctype html
html
	head
		title TJ Krusinski
		link(href="/css/tjkrusinski.css", rel="stylesheet")

	body
		section.banner-image
			img(src="/img/clouds.jpg")
		section.content
			.left
				h1 TJ Krusinski
				h3 JavaScript Developer
			.right
				div
					a(href="http://twitter.com/tjkrusinski")
						b @tjkrusinski
				div
					a(href="http://github.com/tjkrusinski")
						b github
				div
					a(href="mailto:tjkrus@gmail.com?subject=hello")
						b tjkrus@gmail.com
				div
					a(href="tel:330-554-7959")
						b 330-554-7959
				div
					b Orlando, FL
			.clear
		section.clouds
		section.things
			ul.projects
				li
					a(href="https://shoflo.tv")
						.left
							h1 Shoflo.tv
							p Shoflo is a company I co-founded that creates realtime
								| cloud based software for the live events industry.
								| Shoflo is made up of a distributed realtime Node.js 
								| infrastructure that enables a cross device content
								| distribution platform.
						.right
							img.project-img(src="/img/shoflo.jpg")
						.clear

				li
					a(href="http://www.meetup.com/orlando-node-js/")
						.left
							h1 Orlando Node.js Meetup
							p I organize the Orlando Node.js Meetup. We meet monthly and
								| are lead in a discussion about anything Node.js.
						.right
							img.project-img(src="/img/node-orlando.jpg")
						.clear

				li
					a(href="http://realthread.com")
						.left
							h1 Realthread
							p Realthread is a water based screen printing shop in Orlando, FL.
								| Realthread wanted seamless integration between their website
								| and Salesforce. Realthread can manage their inventory on Salesforce
								| and see content on their website reflect accordingly. There is 
								| no CMS for their site.
					
						.right
						.clear
					
				li
					a(href="http://realthread.com")
						.left
							h1 Stream Monkey
							p Stream Monkey is a live and on demand video streaming company
								| targeted at the house of worship market.
								| I co-founded Stream Monkey in 2011 and left in 2012.
								| Stream Monkey has carried on and is thriving.
						.right

						.clear

		section.about
			h1 TJ Krusinski
			p I am a JavaScript developer living in Orlando, FL.
				| I like people and girls.
		
		script(src="//code.jquery.com/jquery-1.10.2.min.js")
		script(src="/js/tjkrusinski.min.js")
