doctype html
html
	head
		title TJ Krusinski
		link(href="public/css/tjkrusinski.min.css", rel="stylesheet")
		meta(name="viewport", content="initial-scale=1.0")

	body
		.banner-image
		
		.clouds

		.content-holder
			section.title
				.content-wrap
					.left
						h1 TJ Krusinski
						p I am a browser and server based JavaScript developer.
							| I build for the the real-time web, creating solutions
							| that help businesses achieve their technical needs.
					.right
						div
							a(href="http://twitter.com/tjkrusinski", target="_blank")
								b @tjkrusinski
						div
							a(href="http://github.com/tjkrusinski", target="_blank")
								b github
						div
							a(href="mailto:tjkrus@gmail.com?subject=hello")
								b tjkrus@gmail.com
						div
							a(href="tel:330-554-7959")
								b 330-554-7959
						div
							b Orlando, FL
					.clear
			section.things
				.content-wrap
					ul.projects
						li
							a(href="https://shoflo.tv", target="_blank")
								.left
									img.project-img(src="public/img/sf_logo.png", alt="Shoflo").pad-img
								.right
									h1 Shoflo
									p Shoflo creates real-time
										| cloud based software for the live events industry.
										| I co-founded Shoflo in 2012.
										| Shoflo is made up of a distributed Node.js 
										| infrastructure that enables real-time cross device content
										| distribution for various web products.
									ul.tech
										li Node.js
										li Socket.io
										li RequireJS
										li MongoDB
										li Redis
										li ZeroMQ
										li HAProxy
										li AWS EC2, S3, SES
								.clear

						li
							a(href="http://streammonkey.com", target="_blank")
								.left
									img.project-img(src="public/img/sm_logo.png", alt="Stream Monkey")

								.right
									h1 Stream Monkey
									p Stream Monkey is a content distribution service for live and
										| on demand video and audio delivery for the house or worship market.
										| I co-founded Stream Monkey in 2010 with the goal to allow houses of
										| worship the simplest path to engage their congregation online through
										| desktops, mobile devices and set top boxes. 
									ul.tech
										li Node.js
										li Wowza Media Server
										li MySQL
										li Redis
										li MongoDB
										li AWS EC2, S3, ELB
										li Akamai CDN
								.clear
						li
							a(href="http://realthread.com", target="_blank")
								.left
									img.project-img(src="public/img/rt_logo.png", alt="Realthread")

								.right
									h1 Real Thread
									p Real Thread is a water based screen printing shop in Orlando, FL.
										| Real Thread wanted tight integration between their website
										| and Salesforce. We built them a system that allows them to
										| manage site content, product images, inventory, lead generation
										| and other customer interaction from their website through Salesforce
										| and a variety of other tools.
									ul.tech
										li Node.js
										li Sass
										li Browserify
										li MongoDB
										li Redis
										li Salesforce
										li ImageMagick
										li AWS Cloudfront, EC2, S3, SES
										li Heroku
								.clear
						li
							a(href="http://www.meetup.com/orlando-node-js/", target="_blank")
								.left
									img.project-img(src="public/img/no_logo.jpg", alt="Node Orlando")

								.right
									h1 Orlando Node.js Meetup
									p I organize the Orlando Node.js Meetup. We meet monthly and
										| are lead in a discussion about anything Node.js.
								.clear

			section.title.footer
				.copy
					span © 2014 TJ Krusinski
	
		script(src="//code.jquery.com/jquery-1.10.2.min.js")
		script(src="public/js/tjkrusinski.min.js")
