* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	color: #555;
}

@media all and (min-width: 800px) {
	body {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.content-holder {
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
		overflow: scroll;
	}

	.banner-image {
		position: fixed;
		overflow: scroll;
		top: 0; bottom: 0;
		left: 0; right: 0;
		height: 100%;
		background-image: url(/public/img/clouds.jpg);
		background-size: cover;
	}

	.banner-image.normal {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
	}
}

.banner-image {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

ul {
	list-style: none;
}

p {
	font-size: .9em;
	font-family: serif;
	color: #111;
}

.title, .things, .about {
	position: relative;
	z-index: 100;
}

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

.clear {
	clear: both;
}

.title {
	background: #fff;
	margin: 15% 0 0 0;
	padding: 80px;
}

.footer {
	padding: 40px 80px;
}

.footer .copy {
	text-align: center;
	font-size: .8em;
	font-family: serif;
	margin: 2em 0;
}

section {
	-webkit-box-shadow: 0 0 2px 2px rgba(80, 80, 80, 0.1);
	box-shadow: 0 0 2px 2px rgba(80, 80, 80, 0.1);
	padding: 80px;
}

.content-wrap {
	max-width: 600px;
	margin: 0 auto;
}

.title .right {
	text-align: right;
}

.title .right div {
	padding: 5px 0;
}

.title h1 {
	padding: 0px 0px 30px 0px;
	font-size: 3em;
}

.title h3 {
	font-size: 1.5em;
}

.title a {
	text-decoration: none;
	font-size: 1em;
	color: #444;
}

.clouds {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 100px 0 0 0;
	height: 1050px;
	background: url(/public/img/dark-clouds.png);
	background-size: cover;
	width: 100%;
}

.things {
	margin: 600px 0 0 0;
	position: relative;
	background: #fff;
}

ul.projects a {
	color: #444;
	text-decoration: none;
}

ul.projects .project-img {
	display: block;
	width: 70%;
	margin: 0 auto;
}

ul.projects li {
	border-bottom: 1px solid #ddd;
	padding: 30px 0;
}

ul.projects li .left {
	width: 20%;
}

ul.projects li .right {
	width: 80%;
}

ul.projects li h1 {
	color: #222;
	font-size: 2em;
}

ul.projects li:hover h1 {
	text-decoration: underline;
}

ul.projects li p {
	margin: 15px 0 15px 0;
	width: 80%;
}

ul.projects li:last-child {
	border-bottom: 0;
}

.about {
	background: #fff;
	margin: 500px 0 0;
	padding: 80px;
}

.about p {
	padding: 30px 0;
}

.pad-img {
	padding: .5em 0 0 0;
}

ul.tech {
	list-style: circle;
}

ul.tech li {
	border: 0;
	padding: 0;
	margin: 0;
	font-family: georgia serif;
	font-size: .8em;
	font-weight: bold;
}

@media all and (max-width: 800px) {
	.banner-image {
		width: 100%;
		height: 300px;
		background-image: url(/public/img/clouds.jpg);
		background-size: cover;
	}

	section.title .left, section.title .right {
		float: none;
		width: 100%;
		text-align: center;
	}

	section.title .right {
		margin: 20px 0 0 0;
	}

	section.things {
		margin-top: 10px;
	}

	section.title {
		margin-top: 0px;
	}

	section.about {
		margin-top: 10px;
	}
}

@media all and (max-width: 500px) {
	body {
		position: relative;
		overflow: auto;
		height: auto;
		width: auto;
	}

	html body .clouds {
		display: none !important;
	}

	section.title .left, section.title .right {
		text-align: left;
	}

	section.title {
		margin-top: 0px;
		padding: 30px;
	}

	section.title h1 {
		font-size: 2em;
		padding: 0;
	}

	section.title h3 {
		font-size: 1.5em;
	}

	.content-holder {
		display: inline;
		overflow: auto;
		height: auto;
		width: auto;
	}
	
	ul.projects li .left, ul.projects li .right {
		float: none;
		width: 100%;
	}

	ul.projects li p {
		margin: 15px 0;
		width: 100%;
	}

	ul.projects li .left img {
		display: block;
		width: 30%;
		margin: 40px auto;
	}

	ul.projects li .right h1 {
		font-size: 1.3em;
	}

	ul.projects li .right p {
		font-size: 1.1em;
	}

	ul.projects li h1 {
		text-align: center;
		width: 100%;
	}

	section {
		padding: 10px;
		text-align: center;
	}
}
